.entete{
	text-align: center;
	color: white;
	margin-top: 50px;
	font-style: italic;
}
body{
	background-color: grey;
}
label{
	font-style: italic;
	color: white;
	font-size: 25px;


}
input{
	height: 50px;
	width: 400px;
	border-radius: 0.2rem;

}
form{
	margin: 50px;
}
hr{

	background-color: white;
}
.radio{
	height: 20px;
	width: 50px;
}
.submit{
	width: 200px;
}
.corp{
	display: flex;
	flex-direction: row;
}
.images{
	float: right;
}
.menue{
	text-align: center;
	margin-bottom: 20px;
}
button{
	background-color: #D3D3D3;
}
.alert{
	color: red;
}